body {
  font-family: arial;
}
img.event {
  margin-top: 10vh;
  width: 50%;
  height: auto;
  left: 0;
}
.header {
  color: white;
  margin-top: 20vh;
  margin-bottom: 20vh;
  background-image: url("../images/alone.jpg");
  height: 20vh;
  padding: 20vh;
  text-align: center;
  width: 100%
}
.about {
  position: absolute;
  bottom: -10%;
  right: 50vh;
  background-color: #323d3e;
  color: white;
  padding: 20px;
  max-width: 80vh;
  opacity: 0.9;
  font-size: 20px;
}

#event {
  max-width: 140vh;

}
.both {
  position: relative;
  z-index: -999;
  left: 30vh;

  margin: 10vh;
}
iframe {
  padding-bottom: 20vh;
  padding-top: 10vh;
}
.about2 {
  font-size: 25px;
  padding-left: 30vh;
  padding-right: 30vh;
  padding-bottom: 10vh;

}
