body {
  background-image: url("../images/alone.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
	color: white;
}

img.big {
    max-width: 20%;

    max-height:auto;
    margin: 10vh;
    left: 50%;
}