body {
  background-image: url("../images/alone.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
color: white;
padding-top: 15vh;
padding-bottom: 5vh;
}

#get {
  padding: 3vh;
  width: 60%;
  height: auto;
  text-align: justify;
  font-size: 2.7vh;
  background: rgba(50, 62, 62, 0.5);
  border: 3px solid lightblue;
  color: white;
  align-items: center;
  margin: 3vh;
}
#get1 {
  padding: 3vh;
  width: 60%;
  height: auto;
  text-align: justify;
  font-size: 2.7vh;
  background: rgba(50, 62, 62, 0.5);
  border: 3px solid lightblue;
  color: white;
  align-items: center;
  margin: 3vh;
  margin-bottom: 20vh;
}
/*
div {
  padding-right: 30px;
  padding-left: 30px;
}
*/
.button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {border-radius: 8px;}
p {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  margin-bottom: 10px;

}
