body, html {
  height: 100%;
  scroll-behavior: smooth;
}

.parallax {

  background-image: url("../images/alone.jpg");
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.arrow {
    position: absolute;
    max-width:100%;
    max-height:100%;
    top:80%;
    left:49vw;
    overflow: hidden;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.arrow2 {
    margin-left: 49vw;
    position: sticky;
    max-width:100%;
    max-height:100%;
    top:80%;
    overflow: inherit;
}


.bounce2 {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


img.big {
    max-width: 30%;

    max-height:auto;
    margin: 20vh;
    left: 50%;
}
h1, span {
    display: inline;
    vertical-align: top;
    font-family: arial;
    line-height: 28px;
    font-size: 20px;
    color: white
}
.intro {
  background-color: lightblue;
  padding: 10vh;
}

.get {
  font-size: 20px;
  padding: 10vh;
  background-color: #323d3e;
  color: white;
  font-family: arial;
}
