h1 {
	font-family: inherit;
	font-weight: bold;
    justify-content: center;
	padding-top: 15px;
}

div.text {
	padding-bottom: 30px;

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 40%;
    margin: auto;
}


.container {
  padding: 5vh;
}
