body {

  font-family: times;
  margin: 0px;

}
/* Navbar container */
.navbar {
  background-color: lightblue;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}







ul {
  background-color: lightblue;
}
/*selector {<image-orientation: center }*/

h1, h2 {

text-align: center;

}

h1 {
  font-size: 5em
}

h2 {
  font-size: 2.5em;
}


img {
    max-width: 50vw;
    height:auto;
    width:auto;
    max-height:50vh;
}





.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: white;
}
p {
  text-align: right;
  padding-right: 1em;
}