
body {
  font-family: times;
  margin: 0px;
  justify-content: center;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  position: relative;



}

.logo {
  height: 41px;
  width: auto;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 0;
  text-decoration: none;

}


.dropdown {
  float: right;
  overflow: hidden;

}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #323d3e;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #323d3e;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  left:auto;
  right:0;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: lightblue;
}

.show {
  display: block;
}


h1, h2 {

text-align: center;

}



.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7vh;
  background-color: lightblue;
 
}


#email  {
	text-align: right;
	font-size: 3vh;
	color: white;
}

#email a {
  
  padding-right: 1em;
  font-size: 3vh;
  color: white;
}
